{% extends "map/base.html" %}
{% block content %}
<form action = "{% url 'map:show-results' %}" method=POST>
    {% csrf_token %}
     <div style="background-color:lightgreen">
        <h1>CHOOSE THE CORRECT ANSWER</h1>
    </div>
    {% for question in object.question_set.all %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    Q{{ forloop.counter }} &emsp; {{ question }}
                    {% comment %}
                    <!-- <small class="text-muted">{{ exam.start_date|date:"F d, Y"}}</small> -->
                    {% endcomment %}
                </div>
                {% for option in question.option_set.all %}
                     <input type="radio" id="{{ option.id }}" name="{{ question }}" value="{{ option }}">
                     <label for="{{ option.id }}" > {{ option }} </label> <br>
                {% endfor %}
                {% comment %}
                <!-- <h2><a class="article-title" href="#">{{ exam.start }}</a></h2>
                <p class="article-content"> {{ exam.description }} </p> -->
                {% endcomment %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}
</form>