{% extends "map/base.html" %}
{% block content %}
    <p>WELCOME HOME</p>
    {% for exam in exams %}
        <article class="media content-section">
        	<div class="media-body">
        		<div class="article-metadata">
        			<a class="mr-2" href="{% url 'map:exam-detail' exam.pk %}">{{ exam }} </a>
        			{% comment %}
        			<!-- <small class="text-muted">{{ exam.start_date|date:"F d, Y"}}</small> -->
        			{% endcomment %}
                    <small class="text-muted">{{ exam.set_by }}</small>
        		</div>
        		{% comment %}
        		<!-- <h2><a class="article-title" href="#">{{ exam.start }}</a></h2>
        		<p class="article-content"> {{ exam.description }} </p> -->
        		{% endcomment %}
        	</div>
        </article>
    {% endfor %}
{% endblock content %}