<html>
<style>
body{
  background-image:url(pic.jpg);
  background-size:200px 112.5px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=number] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>



<div>
  <h1>Examination</h1>
  <form action="{% url 'map:add_student'  %}" method="POST">
    {%  csrf_token %}
    <label for="fname">Full Name:</label>
    <input type="text" id="fname" name="name" placeholder="Enter your name along with surname">

    <label for="Roll no">Roll no:</label>
    <input type="text" id="Roll no" name="roll" placeholder="Enter your Roll no" >


  
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
<!-- 
  <form action="" method="POST">  //pending
    <table align="center">
      <tr>
        <td>Name :</td>
        <td><input type="text" name="name" required></td>
      </tr>
      <tr>
        <td>Roll :</td>
        <td><input type="text" name="roll" required></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>
 -->
