{% extends "map/base.html" %}
{% block content %}
  <form action="{% url 'map:add_student'  %}" method="POST">  //pending
    {% csrf_token %}
    <table align="center">
      <tr>
        <td>Name :</td>
        <td><input type="text" name="name" required></td>
      </tr>
      <tr>
        <td>Roll :</td>
        <td><input type="text" name="roll" required></td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
  </form>
{% endblock content %}