{% extends "map/base.html" %}
{% block content %}
    <p>WELCOME HOME</p>
    <article class="media content-section">
    	<div class="media-body">
    		<div class="article-metadata">
    			<a class="mr-2" href="#">{{ object }} </a>
    			<small class="text-muted">{{ object.start_date|date:"F d, Y"}}</small>
    		</div>
    		<h2 class="article-title">{{ object.start }}</h2>
    		<p class="article-content"> {{ object.description }} </p>
    	</div>
    </article>
{% endblock content %}